@model IEnumerable<ServiceStatusApp.Models.ServiceHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Historia Usług</h2>
@if (Model.Any())
{
    <table class="table table-bordered table-hover" id="servicesHistory">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Describe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th>                 
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompleteDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Describe)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>                        
                        @Html.DisplayFor(model => item.ApplicationUser.UserName)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompleteDate)
                    </td>
                    <td>
                        <button data-toggle="tooltip" data-service-id="@item.Id" data-placement="bottom" title="Przywróć na listę usług"  class="btn js-move-to-service btn-success"><i class="glyphicon glyphicon-retweet"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Historia jest pusta</p>
}
@section Scripts {
    @Scripts.Render("~/bundles/bootstrapToolTip")
    <script>
        $(document).ready(function()
        {
            var table = $("#servicesHistory").DataTable({
                
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [1, 3, 7] }
                ],
                "order": [[6, "desc"]],
                "language": {
                    "lengthMenu": "Wyświetlaj _MENU_ wyników na stronę",
                    "zeroRecords": "Nic nie znaleziono ",
                    "info": "Pokaż _PAGE_ z _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Wyszukiwanie",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                }
            });
            $(".js-move-to-service").click(function () {
                var button = $(this);
                $.ajax({
                    url: "api/history/" + button.attr("data-service-id"),
                    method: "get",
                    success: function () {
                        button.parents("tr").fadeOut(400, function () {$(this).remove();})
                    }
                });

            });
        
        });
    </script>
}
