@model  ServiceStatusApp.ViewModels.StatusHistoryServiceViewModel

@{
    ViewBag.Title = "CheckResult";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="AX Team" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <title>@ViewBag.Title — FollowApp</title>
    @Styles.Render("~/Content/index")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container ">
        <div class="login-header check-header">
            <h2>twoje <span>zlecenie</span></h2>
     
        </div>

        <div class="desc-wrap">
            <h2>@Model.Service.Name</h2>
            <p>@Model.Service.Describe</p>
            <table class="table">
                <tr>
                    <th>
                        Data Aktualizacji
                    </th>
                    <th>
                        Status Zlecenia
                    </th>

                </tr>

                @foreach (var item in Model.StatusHistoryList)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChangeDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                    </tr>
                }

            </table>
            <div class="col btn-wrap">
                <a class="btn btn-default" href="@Url.Action("Index","Home")">powrót</a>
            </div>
        </div>
        
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>